body {
	background-image: url(pastel.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.title {
	margin-top: 40px;
	margin-left: 0%;
}

header {
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
	border-radius: 12px;
	background-repeat: no-repeat;
	color: white;
}

.statement {
	font-family: 'Josefin Slab', serif;
	font-size: 75px;
	display: flex;
	justify-content: center;
	color: whitesmoke;
	font-weight: bolder;
}

main {
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}

.logo {
	display: flex;
}

.logo-photo {
	flex-basis: auto;
	flex-shrink: 1;
	width: 125px;
	height: 125px;
	border-radius: 12px;
	margin-right: 12px;
}

.testimonials{
	font-family: 'Josefin Slab', serif;
	color: white;
	font-size: 50px;
	font-weight: bolder;
}

#disclaimer {
	position: absolute;
	left:0;
	bottom:0;
	font-size: 11px;
}
