body {
    background-color: rgb(252, 215, 221);
}

.valentine_heart_img_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}   

.valentine_heart_img {
    width: 250px;
}

.valentine-title {
    color: red;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin-top: 50px;
}