body {
    background-color: rgb(252, 215, 221);
}

.valentine_heart_img_container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}   

.valentine_heart_img {
    width: 250px;
    animation: pulse 2s infinite;
}

.valentine-title {
    color: red;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    margin-top: 50px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}