body {
	min-height: 100%;
	max-width: 1000px;
	font-family: 'Zen Maru Gothic', sans-serif;
	font-size: 14px;
	display: inline;
	justify-content: start;
}

header {
	padding: 1rem 2rem 1rem 2rem;
	margin-left: 1rem;
	border-left: 5px solid lightgray;
}

main {
	padding: 1rem 2rem 1rem 2rem;
	margin-left: 1rem;
	border-left: 5px solid lightgray;
}

footer {
	padding: 1rem 2rem 1rem 2rem;
	margin-left: 1rem;
	border-left: 5px solid lightgray;
}

.maroon {
	color: tomato;
}

ul {
	display: flex;
	justify-content: space-between;
	margin: 0%;
	padding: 0;
}

header a {
	color: darkgray;
	font-size: 15px;
}

footer a {
	color: tomato;
	text-decoration: none;
	font-size: 15px;
}

li {
	list-style-type: none;
	padding-top: 40px;
}

img {
	width: 100%;
	justify-content: start;
}

footer nav {
	box-sizing: border-box;
	border: 1px solid darkgrey;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.cr {
	color: darkgray;
}

article::first-letter {
	font-size: 500%;
	padding: 6px 12px; /* developer.mozilla.org/en-US/docs/Web/CSS::first-letter */
	float: left;
	color: lightgray;
}

.conts1 {
	display: flex;
	justify-content: end;
	margin-bottom: 1rem;
	color: red;
	font-weight: bold;
	padding-bottom: 1rem;
	border-bottom: 1px solid lightgrey;
}

.conts2 {
	display: flex;
	justify-content: end;
	margin-bottom: 1rem;
	color: red;
}

h1 {
	color: tomato;
}
